<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>instaGuide</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
</head>
<body>
    <header>
        <h1 class="header"><center>instaGuide</center></h1>
        <img src="{% static 'logo.png' %}" alt="InstaGuide Logo" class="logo">
    </header>
    <main>
        <form id="accommodationForm" method="POST">
            {% csrf_token %}
            <label for="accommodationUrl" class="label_url"><b>Please enter the URL of the accommodation:</b></label>
            <input type="text" id="accommodationUrl" name="accommodationUrl" class="url-input" placeholder="Enter URL here">
            
            <div class="button-container">
                <button type="button" class="btn1 clear-btn" onclick="clearForm()">Clear</button>
                <button type="button" class="btn2 submit-btn" onclick="submitForm()">Submit</button>
            </div>
        </form>

        
        <form id="specificInfoForm">
            <label for="specificInfo" class="label_url2"><b>Get specific information about the accommodation:</b></label>
            <input type="text" id="specificInfo" name="specificInfo" class="txt-input" placeholder="Enter your query here">
            <div class="button-container">
                <button type="button" class="btn3 submit-btn" onclick="submitQuery()">Submit</button>
            </div>
        </form>

       
        <div id="textbox" class="textbox">
            The summary and the answers to the queries will appear here...
        </div>
    </main>

    <div id="customAlert" class="modal">
        <div class="modal-content">
            <p id="modalMessage"></p>
            <button onclick="closeModal()">OK</button>
        </div>
    </div>

    <script src="{% static 'home.js' %}"></script>
</body>
</html>
