body {
    
    background-color: #2C3E50;
   

}


h1 {
    color: rgb(255, 255, 255);
    font-size: 500%;
    font-family: monospace;
}



.text1{
    margin-top: 5%;
    margin-left: 1%;
}


.logo{

    float: right; 
    margin-right: 3%;
    width: 30%;
    margin-top: 3%;
}




.url-input {
    border: 2px solid white;
    background-color: #2C3E50;
    color: rgb(255, 255, 255);
    padding: 0.3%;
    font-size: 130%;
    font-family: monospace;
    outline: none;
    margin-left: 1%;
    width: 20%;
    margin-top: 2%;
}

.label_url{
    color: white;
    font-size: 130%;
    font-family: monospace;
    margin-left: 1%;
}


.button-container {
    margin-top: 0.5%;
}

.btn1 {
    border: 2px solid white;
    background-color: #2C3E50;
    color: white;
    padding: 0.15% 0.5%;
    font-size: 120%;
    font-family: monospace;
    cursor: pointer;
    margin-right: 0.3%;
    margin-left: 41.5%;
}

.btn2 {
    border: 2px solid white;
    background-color: #2C3E50;
    color: white;
    padding: 0.15% 0.5%;
    font-size: 120%;
    font-family: monospace;
    cursor: pointer;
    margin-left: 1%;
}


.btn1:hover {
    background-color: #34495E; 
}
.btn2:hover {
    background-color: #34495E; 
}


.clear-btn, .submit-btn {
    margin-top: 0.5%;
    width: 5.5%;
}
