<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>instaGuide</title>
    <link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
</head>
<body>
    <header>
        <h1 class="header"><center>instaGuide</center></h1>
        <img src="{% static 'logo.png' %}" alt="InstaGuide Logo" class="logo">
    </header>
    <main>
        <!-- Προσθήκη φόρμας με μέθοδο POST -->
        <form id="accommodationForm" method="POST">
            {% csrf_token %}  <!-- Προσθήκη του CSRF token -->
            <label for="accommodationUrl" class="label_url"><b>Please enter the URL of the accommodation you are interested in:</b></label>
            <input type="text" id="accommodationUrl" name="accommodationUrl" class="url-input" placeholder="Enter URL here">
            
            <div class="button-container">
                <button type="button" class="btn1 clear-btn" onclick="clearForm()">Clear</button>
                <button type="button" class="btn2 submit-btn" onclick="submitForm()">Submit</button>
            </div>
        </form>
    </main>
    
    <script src="{% static 'home.js' %}"></script>
</body>
</html>
